body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Customs utilities */

.transition-300 {
  transition: all 0.3s ease-in-out;
}

.tw-black-backdrop {
  background: linear-gradient(to left, transparent, rgba(0, 0, 0, 0.85) 65%);
}

.tw-black-backdrop-2 {
  background: linear-gradient(to bottom, transparent, rgba(0, 0, 0, 0.85) 85%);
}

#banner-movie::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 200px;
  background: linear-gradient(to bottom, transparent, rgba(0, 0, 0, 0.85) 85%);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
/* .swiper-container {
  width: 100%;
  max-height: 100%;
} */
/* .swiper-pagination-bullet{
  background: blue !important;
}
.swiper-pagination-bullet-active-main{
  background: #fff !important;
} */

/* .tw-section-slider .swiper-button-prev {
  --swiper-navigation-size: 25px !important;
  z-index: 20 !important;
}

.tw-section-slider .swiper-button-next {
  --swiper-navigation-size: 25px !important;
  z-index: 20 !important;
} */

.tw-section-slider .swiper-button-prev {
  @apply !top-[6%] !right-[2%] hidden sm:block;
}

.tw-section-slider .swiper-button-next {
  @apply !top-[1%] !right-[5%] hidden sm:block;
}

/* .vote-bg{
  background: linear-gradient(to right, #fbff00, #aeb100 );
} */

